
    <tr>
	   <td><%= image_tag '/assets/sale-icon.png', :height => 20, :width => 25 %></td>
		 <% if (pin.markdown - 42) > Date.today %>
		 <td><%=  (pin.markdown - 42).strftime("%a, %B %d") %>: <b>1st Markdown</b></td>
			  <% else %>
		 <td><%= (pin.markdown - 28).strftime("%a, %B %d") %>: <b>2nd Markdown</b></td>
				<% end %>
	  <td><%= pin.brand  %></td>
		<td><%= pin.description %></td>
		<td><%= pin.quantity %></td>
		
		<% if current_user = pin.user %>
		<td> <%= link_to 'Edit', edit_pin_path(pin) %></td>
		<% end %>
		
 </tr>

   		
		
 
