<div class="section store-name-section">
<div class="jumbotron">
<h1><font color="#432060"><%= current_user.name %></font></h1>
<p class="muted">San Francisco, CA</p>
</div>
</div>
<div class="calc-position">
<div class="calculator-unit calculator">
<p class="calc-header">Optimize Margin</p>
<hr>
<%= form_tag('/calculate') do %>

    <%= text_field_tag(:f,  "Initial Cost") %>


    <%= text_field_tag(:s,  "Enter Multiplier") %>
  

    <%= text_field_tag(:r, @result, :disabled => true) %>
		<br>	<br>
    <%= submit_tag("Calculate", class: "btn btn-purple btn-calc")  %>
	
<% end %>
</div>
</div>
<div class="calendar-width-margin section">
<%= render 'pages/agenda' %>
</div>
</div>

<h3><%= current_user.name %>'s Products</h3><%= link_to 'Add New', new_pin_path %>
<div class="product-table3">
<table class="table table-bordered table-striped">
              <thead>
                <tr>
                  
                  <th>Brand</th>
                  <th>Description</th>
									<th>Cost</th>
									<th>On Sale</th>
									<th>First Markdown</th>
                  <th>Update</th>
									<th>Delete</th>
                </tr>
              </thead>
              <tbody>
    
	
		<%= render @pins %>
	</tbody>
	</table>
	</div>
