<p id="notice"><%= notice %></p>
<div class="product-table-show">
<table class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th><b>Event</b></th>
                  <th><b>Starts</b></th>
                  <th><b>Ends</b></th>
									<th><b>All day:</b></th>
									<th><b>Description</b></th>
                </tr>
              </thead>
              <tbody>
                <tr>
<td>
  
  <%= @event.title %>
</td>

<td>
  
  <%= @event.starts_at.strftime("%a, %B %d") %>
</td>

<td>
  
  <%= @event.ends_at.strftime("%a, %B %d") %>
</td>

<td>
  
  <%= @event.all_day %>
</th>

<td>
  
  <%= @event.description %>
</td>
</tbody>
</table>
</div>
<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', calendar_path %>