<% if user_signed_in? %>
<div class="section store-name-section">
<div class="jumbotron">
<h1><font color="#432060"><%= current_user.name %></font></h1>
<p class="muted">San Francisco, CA</p>
</div>
</div>
<div class="calc-position">
<div class="calculator-unit calculator">
<p class="calc-header">Margin Calculator</p>
<hr>
<%= form_tag('/calculate') do %>

    <%= text_field_tag(:f,  "Initial Cost") %>

   <label class="checkbox">
		      <input type="checkbox"> Seasonal item?
		    </label>

    <%= text_field_tag(:s,  "Enter Multiplier") %>
  

    <%= text_field_tag(:r, @result, :disabled => true) %>
		
    <%= submit_tag("Calculate", class: "btn btn-purple btn-calc")  %>
	
<% end %>
</div>
</div>
<div class="calendar-width-margin section">

<%= render 'pages/agenda' %>
</div>
</div>

	
		
<div class="product-table1">
<table class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Brand</th>
                  <th>Product</th>
                  <th>Price</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>Marc Jacobs</td>
                  <td>Green Wool Sweater</td>
                  <td>$226</td>
                </tr>
                <tr>
                  <td>1</td>
                  <td>Marc Jacobs</td>
                  <td>Green Wool Sweater</td>
                  <td>$226</td>
                </tr>
                <tr>
                  <td>1</td>
                  <td>Marc Jacobs</td>
                  <td>Green Wool Sweater</td>
                  <td>$226</td>
                </tr>
                <tr>
                  <td>1</td>
                  <td>Marc Jacobs</td>
                  <td>Green Wool Sweater</td>
                  <td>$226</td>
                </tr>
              </tbody>
            </table>


</div>
<div class="product-table2">
<table class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Brand</th>
                  <th>Product</th>
                  <th>Price</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>Marc Jacobs</td>
                  <td>Green Wool Sweater</td>
                  <td>$226</td>
                </tr>
                <tr>
                  <td>1</td>
                  <td>Marc Jacobs</td>
                  <td>Green Wool Sweater</td>
                  <td>$226</td>
                </tr>
                <tr>
                  <td>1</td>
                  <td>Marc Jacobs</td>
                  <td>Green Wool Sweater</td>
                  <td>$226</td>
                </tr>
                <tr>
                  <td>1</td>
                  <td>Marc Jacobs</td>
                  <td>Green Wool Sweater</td>
                  <td>$226</td>
                </tr>
              </tbody>
            </table>

						
						
					

</div><br><br><br>
<% else %>
 	<!-- Carousel
	    ================================================== -->
	    <div id="myCarousel" class="carousel slide">
	      <div class="carousel-inner">
	        <div class="item active">
	          <img src="/assets/Lead_Home.png" alt="">
	          <div class="container">
	            <div class="carousel-caption">
	              <h2></h2>
	              <%= link_to 'Free',  new_user_registration_path, class: "btn btn-large btn-purple btn-one" %>
								<p class="lead"></p>
								<%= link_to 'Basic',  new_user_registration_path, class: "btn btn-large btn-purple btn-two" %>
								<p class="lead"></p>
								<%= link_to 'Professional',  new_user_registration_path, class: "btn btn-large btn-purple btn-three" %>
	            </div>
	          </div>
	        </div>
	        <div class="item">
	          <img src="img/File_For_Jesse.png" alt="">
	          <div class="container">
	            <div class="carousel-caption">
	              <h1>Another example headline.</h1>
	              <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
	              <a class="btn btn-large btn-success" href="#">Learn more</a>
	            </div>
	          </div>
	        </div>
	        <div class="item">
	          <img src="img/Landing_Sale_Sign3.jpg" alt="">
	          <div class="container">
	            <div class="carousel-caption">
	              <h1>One more for good measure.</h1>
	              <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
	              <a class="btn btn-large btn-success" href="#">Browse gallery</a>
	            </div>
	          </div>
	        </div>
	      </div>
	      
	    </div><!-- /.carousel -->
	
 		<hr>

 <!-- Example row of columns -->
 <div class="row-fluid heading-graphics">
   <div class="span4">
     
     <img class="product-pic img-polaroid" src="/assets/Box1.png" alt="">
<br>
     
   </div>
   <div class="span4">
     
     <img class="product-pic img-polaroid" src="/assets/Box2.png" alt="">
	<br>
     
  </div>
   <div class="span4">
    
     <img class="product-pic img-polaroid" src="/assets/Box3.png" alt="">

     
   </div>
 </div>
<hr>
		<div class="blog-line">
			<p><span class="blog-graphic-position"><img src="/assets/blog-graphic.png"></span> <%= link_to "Read our blog: Learn how small retailers are using MySaleTable solutions", "http://mysaletable.tumblr.com" %> </p>
		</div>
		<hr>
		<img src="assets/Bev_Quote.png">
		<hr>

							<table class="press-passes">  
						<td>Follow us:</td>
						<td></td>
           
           <td><a href="http://www.twitter.com/mysaletable"><img src="https://s3.amazonaws.com/mst-images-shared/tbird.png"></a></td>
           <td><a href="http://www.facebook.com/mysaletable"><img src="https://s3.amazonaws.com/mst-images-shared/fb_logo.png"></a></td>
						

     </table>
			
<div class="contact-button btn btn-large">
	<%= link_to 'Contact Us',  "mailto:stores@mysaletable.com" %></li>
   </div>
   

   <!-- /END THE FEATURETTES -->


   <% end %>


