<h2>Log in</h2>

<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), html: { class: 'form-horizontal'}) do |f| %>
  

  <%= f.input :email %>

  <%= f.input :password %>

  <%= f.input :remember_me, as: :boolean %>

  
  <%= f.submit "Login", class: "btn btn-purple" %>
<% end %>
New to MySaleTable? Create an account to manage your business more profitably.
<div class="form-actions">
<div class="login-form-join-link btn btn-purple">
<%= render "devise/shared/links" %>
</div>
</div>