		<% if user_signed_in? %>
			<div class="container">

	      <div class="masthead">
	        <a class="brand" href="/"><h3 class="muted"><%= image_tag '/assets/MST_New_Font.png' %></a> Metrics</h3>
	        <div class="navbar">
	          <div class="navbar-inner">
	            <div class="container">
	              <ul class="nav">
	                <li class="<%= 'active' if current_page?(root_path) %>"><%= link_to "Home", root_path %></li>
	                <li class="<%= 'active' if current_page?(new_pin_path) %>"><%= link_to "Upload", new_pin_path %></li>
									<li class="<%= 'active' if current_page?(pins_path) %>"><%= link_to "Products", pins_path %></li>
	                
	                <li class="<%= 'active' if current_page?(about_path) %>"><%= link_to "About Us", about_path %></li>
	                <li><%= link_to "Market", "http://www.mysaletable.com", :target => "_blank" %></li>
	                <li class="<%= 'active' if current_page?(edit_user_registration_path) %>"><%= link_to 'Edit Profile',  edit_user_registration_path %></li>
									<li class="<%= 'active' if current_page?(destroy_user_session_path) %>"><%= link_to 'Logout',  destroy_user_session_path, method: :delete %></li>
	              </ul>
	            </div>
	          </div>
	        </div><!-- /.navbar -->
	      </div>
			
											 
												<% else %>
											 	
												<div class="container">

										      <div class="masthead">
										        <h3 class="muted"><img src="https://mst-assets-production.s3.amazonaws.com/assets/Logo_Website_v2-e6c5b444f5b0ffede152bb5abdaf5dff.png"> Metrics</h3>
										        <div class="navbar">
										          <div class="navbar-inner">
										            <div class="container">
										              <ul class="nav">
										                <li class="<%= 'active' if current_page?(root_path) %>"><%= link_to "Home", root_path %></li>
										                <li class="<%= 'active' if current_page?(works_path) %>"><%= link_to "How It Works", works_path %></li>
																		<li class="<%= 'active' if current_page?(pricing_path) %>"><%= link_to "Pricing", pricing_path %></li>
										                
										                <li class="<%= 'active' if current_page?(about_path) %>"><%= link_to "About Us", about_path %></li>
										                <li><%= link_to "Market", "http://www.mysaletable.com", :target => "_blank" %></li>
										                <li class="<%= 'active' if current_page?(new_user_session_path) %>"><%= link_to 'Login',  new_user_session_path %></li>
										              </ul>
										            </div>
										          </div>
										        </div><!-- /.navbar -->
										      </div>		  
											
											
											
											
											
											<% end %>
                    










